<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Round Robin @ Nitish Kumar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<h1 class="jumbotron">Welcome to the Query Management System</h1>
{% block detail %}
{% endblock %}
{% block create %}

{% endblock %}


<a class="btn btn-danger col-lg-12 jumbotron" href="{% url 'process' %}">Process</a>
<a class="btn btn-success col-lg-12 jumbotron" href="{% url 'processed' %}">Processed</a>


<!--<h1>Base</h1>-->
<!--<h2>Faculty Form</h2>-->
<!--<form action="" method="POST">-->
    <!--{% csrf_token %}-->
    <!--{{facultyform.as_p}}-->
    <!--<input type="Submit">-->
<!--</form>-->
<!--<h2>Student Form</h2>-->
<!--<form action="" method="POST">-->
    <!--{% csrf_token %}-->
    <!--{{studentform.as_p}}-->
    <!--<input type="Submit">-->
<!--</form>-->

<!--<h2>Process Form</h2>-->
<!--<form action="" method="POST">-->
    <!--{% csrf_token %}-->
    <!--{{processform.as_p}}-->
    <!--<input type="Submit">-->
<!--</form>-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>