<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Round Robin @ Nitish Kumar</title>
</head>
<body>
{% block create %}

{% endblock %}
<h1>Base</h1>
<h2>Faculty Form</h2>
<form action="" method="POST">
    {% csrf_token %}
    {{facultyform.as_p}}
    <input type="Submit">
</form>
<h2>Student Form</h2>
<form action="" method="POST">
    {% csrf_token %}
    {{studentform.as_p}}
    <input type="Submit">
</form>

<h2>Process Form</h2>
<form action="" method="POST">
    {% csrf_token %}
    {{processform.as_p}}
    <input type="Submit">
</form>

</body>
</html>