<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Process Detailed View</title>
</head>
<body>

    <ul>
        {% for process in object_list %}
            <li>Name: {{process.name}}</li>
            <li>Arrivale Time: {{process.arrivalTime}}</li>
            <li>Burst Time: {{process.burstTime}}</li>
            <li>Completion Time: {{process.completionTime}}</li>
            <li>Remaining Time: {{process.remainingTime}}</li>
            <li>Waiting Time: {{process.waitingTime}}</li>
            <li>Turn Around Time: {{process.turnAroundTime}}</li>
        {% endfor %}
    </ul>

</body>
</html>


